.django-list-wrestler-collapsible a.toggle-handler {
    padding: 0 0.5em;
}
.django-list-wrestler-collapsible a.toggle-handler:focus{
  text-decoration: none;
}
.django-list-wrestler-collapsible .collapsible.indent-1{
  padding-left:0em;
}
.django-list-wrestler-collapsible .collapsible.indent-2{
  padding-left:2em;
}
.django-list-wrestler-collapsible .collapsible.indent-3{
  padding-left:4em;
}
.django-list-wrestler-collapsible .collapsible.indent-4{
  padding-left:6em;
}
.django-list-wrestler-collapsible .collapsible.indent-5{
  padding-left:8em;
}
.django-list-wrestler-collapsible .collapsible.indent-6{
  padding-left:10em;
}
.django-list-wrestler-collapsible .collapsible.indent-7{
  padding-left:12em;
}
.django-list-wrestler-collapsible .collapsible.indent-8{
  padding-left:14em;
}
.django-list-wrestler-collapsible .collapsible.indent-9{
  padding-left:16em;
}
.django-list-wrestler-collapsible .collapsible.indent-10{
  padding-left:18em;
}