.ordering-buttons{
	margin-bottom:5px;
}


.ordering-buttons input[type=button]{
	border: 1px solid #ccc;
	
	background-color:#eee;
	background: url(../../grappelli/images/icons-s0e29227ce9.png);
	text-indent: -9999px;
	width: 26px;
	height: 20px;

	margin:0;
}
.ordering-buttons input:hover{
	background-color:#ddd;					
}
.ordering-buttons input.drag{
	background-position: 0px -2742px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;	
	
}
.ordering-buttons input.drag.disabled{
	background-position: 0px -2262px; 
	cursor: default;
}
.ordering-buttons input.move_top{					
	background-position: 0px -2000px; 

	-webkit-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;

	margin-left:-5px;
	
}
.ordering-buttons input.move_top.disabled{
	background-position: 0px -2218px; 
	cursor: default;

}
.ordering-buttons input.move_up{					
	background-position: 0px -2874px; 	


	-webkit-border-radius: 0;
	border-radius: 0;	
	margin-left:-5px;	
	border-right:0;	
}
.ordering-buttons input.move_up.disabled{
	background-position: 0px -2830px; 
	cursor: default;	
}
.ordering-buttons input.move_down{
	background-position: 0px -2654px;	

	-webkit-border-radius: 0;
	border-radius: 0;
	margin-left:-5px;
	border-left:0;
	border-right:0;				
}
.ordering-buttons input.move_down.disabled{
	background-position: 0px -2479px;
	cursor: default;
}
.ordering-buttons input.move_bottom{
	background-position: 0px -1955px;
	-webkit-border-radius: 5px 0px 0px 5px;	
	border-radius: 5px 0px 0px 5px;						
	
}
.ordering-buttons input.move_bottom.disabled{
	background-position: 0px -1912px;
	cursor: default;
}
.ordering-buttons input.new_value{
	width:30px;
	height:20px;
	font-size:11px;
	text-align: right;
	-webkit-border-radius: 5px 0px 0px 5px;	
	border-radius: 5px 0px 0px 5px;	

	margin-right:-4px;
}
.ordering-buttons input.apply_new_value{
	-webkit-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
	
	background-position: 0px -1335px; 
	width:24px;
}
.ordering-buttons input.apply_new_value.disabled{
	background-position: 0px -1292px; 
	cursor: default;
}
.ordering-buttons input.original_value{
	display:none;
}
.ordering-buttons input.delete{
	background-position: 0px -2390px;

	-webkit-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px;		

	margin-left:5px;
	border-right:0;	

}

.list-item-initialized .ordering-buttons + input{
	display: none;
}